#bin-to-dec {
    margin-top: 300px;
    height: 300px;
}
#bin-to-dec > h1 {
    margin-top: 30px;
 margin-left: 280px;
}
#button {
    margin-top: 50px;
}
.col-sm {
    margin-left:60px ;
}
.col-sm > h3{
    margin-left: 60px;
}
.row{
    margin-top: 50px;
}